@charset "utf-8";


/* ŒŸõƒtƒH[ƒ€ */
.search_form {
	width: 100%;
	height: 80%;
}

.search_form *{
	float: left;
}
.search_form .search_content{
	margin: 0 5px;
}
.drop_content{
 float: left;
}
.drop_content *{
 float: left;
}
.search_form input[type="text"] {
	margin-top: -5px;
}
.drop_content{
	margin-top: -8px;;
}

.search_submit{
	margin-top: -10px;
	margin-left: 50px;
}

